.photo {
  @include span-columns(3);
  @include omega(4n);
  margin-bottom: 1rem;
  position: relative;

  img {
    max-width: 100%;
  }

  .info {
    background-color: transparentize($blackish, 0.3);
    color: $whiteish;
    position: absolute;
    bottom: 3px;
    z-index: 10;
    min-width: 100%;
    font-size: 80%;
    padding: 0 1rem;
  }

  .like {
    float: right;
    display: inline-block;
  }
}
