.photo {
  @include span-columns(3);
  @include omega(4n);
  margin-bottom: 1rem;
  position: relative;

  img {
    max-width: 100%;
  }

  .info {
    background-color: transparentize($blackish, 0.3);
    color: $whiteish;
    position: absolute;
    bottom: 3px;
    z-index: 10;
    min-width: 100%;
    font-size: 80%;
    padding: 0 1rem;
  }

  .like {
    float: right;
    display: inline-block;
  }
}

.no_photos {
  @include shift(3);
  @include span-columns(6);
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  border: 2px solid darken($whiteish, 30%);
  border-radius: 2rem;

  p, i, h2 {
    color: darken($whiteish, 30%);
  }

  i {
    font-size: 400%;
  }
}
