.photo {
  @include span-columns(3);
  @include omega(4n);
  margin-bottom: 1rem;
  position: relative;
  overflow: hidden;

  img {
    max-width: 100%;
  }

  &.nsfw img {
    @include filter(blur(30px));
  }

  .nsfw_text {
    color: $whiteish;
    text-shadow:
      -1px -1px 0 $blackish,
      -1px 1px 0 $blackish,
      1px -1px 0 $blackish,
      1px 1px 0 $blackish;
    z-index: 10;
    position: absolute;
    bottom: 33%;
    width: 100%;
    text-align: center;
    font-size: 200%;
    padding: 1 rem;

  }

  .info {
    background-color: transparentize($blackish, 0.3);
    color: $whiteish;
    position: absolute;
    bottom: 3px;
    z-index: 10;
    min-width: 100%;
    font-size: 80%;
    padding: 0 1rem;
  }

  .caption {
    width: calc(100% - 1rem);
    display: inline-block;
  }

  .like {
    display: inline-block;
    width: 1rem;
  }
}

.no_photos {
  @include shift(3);
  @include span-columns(6);
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  border: 2px solid darken($whiteish, 30%);
  border-radius: 2rem;

  p, i, h2 {
    color: darken($whiteish, 30%);
  }

  i {
    font-size: 400%;
  }
}
